:root {
  --main-bg-color-light: tan;
  --main-bg-color-dark: rgb(10, 24, 17);
  --main-bg-color-high: rgb(10, 24, 17);
  --main-text-color-light: black;
  --main-text-color-dark: darkseagreen;
  --main-text-color-high: lime;
  --table-color: #3E32A2;
  --table-background-color: #192725;
  --table-text-color: tan;
  --table-header-color: gold;
}

* {
  margin: 0px;
  padding: 0px;
}


/*----------------------------------[ THEMES ]-----------------------------------*/

body.vscode-light {
  font-size: var(--vscode-editor-font-size);
  background-color: var(--main-bg-color-light);
  color: var(--main-text-color-light);
}

body.vscode-dark {
  font-size: var(--vscode-editor-font-size);
  background-color: var(--main-bg-color-dark);
  color: var(--main-text-color-dark);
}

body.vscode-high-contrast {
  font-size: var(--vscode-editor-font-size);
  background-color: var(--main-bg-color-high);
  color: var(--main-text-color-high);
}


/*----------------------------------[ ELEMENTS ]-----------------------------------*/

body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: var(--vscode-editor-font-size);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1.5rem;
}

#header {
  height: 180px;
  width: 100%;
  left: 0px;
  background-color: #3E32A2;
  color: gold;
  text-align: center;
  float: left;
}

#header-text {
  margin-top: 15px;
  line-height: 2.5em;
}

#header-image {
  float: left;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 20px;
  top: 180px;
  bottom: 1.5rem;
  width: 264px;
  overflow: auto;
  background-color: #266e6e;
  text-align: center;
}

.home-body {
  padding-left: 264px;
  bottom: 1.5rem;
  min-width: calc(100% - 264px);
  overflow: auto;
  background-color: var(--main-bg-color);
}

.home-body h2 {
  text-align: center;
}

.home-body h4 {
  text-align: center;
}

.home-body p {
  padding-bottom: 1em;
  margin-left: 10px;
}

.stack-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 45px);
  width: 100%;
  position: relative;
  text-align: center;
}

.register-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 45px);
  width: 100%;
  position: relative;
  text-align: center;
}

.other-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  position: relative;
  text-align: center;
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 45px);
  width: 100%;
  position: relative;
  text-align: center;
}

.math-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  position: relative;
  text-align: center;
}

.jump-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;
  position: relative;
  text-align: center;
}

.flag-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 45px);
  width: 100%;
  position: relative;
  text-align: center;
}

.compare-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;
  position: relative;
  text-align: center;
}

.branch-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 45px);
  width: 100%;
  position: relative;
  text-align: center;
}

.branch-text {
  margin-top: 35px;
  margin-left: 15px;
}

.branch-text p {
  padding-bottom: 1em;
}

.bitwise-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 45px);
  width: 100%;
  position: relative;
  text-align: center;
}

.view-all-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(13, 45px);
  width: 100%;
  position: relative;
  text-align: center;
}

#illegal-button {
  margin: 0 auto;
  display: block;
}

.opcode-table {
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  text-align: center;
}

.opcode body {
  top: 180px;
  bottom: 1.5rem;
  margin-left: 264px;
  min-width: calc(100% - 264px);
  overflow: auto;
  background-color: var(--main-bg-color);
}

.opcode-flags {
  padding-bottom: 20px;
  text-align: center;
}

.opcode-text {
  padding-left: 15px;
  padding-bottom: 15px;
}

.opcode-text p {
  padding-bottom: 1em;
}

.codeblock {
  border: solid gray;
  background-color: #192725;
  border-width: .1em .1em .1em .4em;
  line-height: 150%;
  left: 0%;
  padding-top: 25px;
  margin-bottom: 15px;
}

#navigation {
  /* background: red; */
  margin-left: 15px;
  padding-bottom: 1rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  text-align: center;
  color: #79fada;
  background-color: #4242b3;
  font-size: large;
}


/*----------------------------------[ TABLES ]-----------------------------------*/

table.modes {
  border: 4px solid var(--table-color);
  border-collapse: separate;
  border-radius: 5px;
  border-left-width: 5px;
  border-top-width: 1px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1;
  border-spacing: 0px;
  color: var(--table-text-color);
  background-color: var(--table-background-color);
}

table.modes th {
  background-color: var(--table-color);
  color: var(--table-header-color);
}

table.modes.flags {
  background-color: var(--table-background-color);
  text-align: center;
}

table.modes th,
table.modes td {
  text-align: center;
  border: 0px solid var(--table-color);
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding: 10px;
  font-size: small;
}


/*----------------------------------[ BUTTONS ]-----------------------------------*/

.button {
  border: 2px solid #eeb63d;
  color: rgb(124, 188, 204);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.buttonMAIN {
  background-color: white;
  color: black;
  width: 200px;
}

.buttonMAIN:hover {
  background-color: #008CBA;
  color: white;
}

.buttonOPCODE {
  background-color: white;
  color: black;
  width: 75px;
}

.buttonOPCODE:hover {
  background-color: #008CBA;
  color: white;
}

.buttonNAVIGATION {
  background-color: white;
  color: black;
}

.buttonNAVIGATION:hover {
  background-color: #008CBA;
  color: white;
}
