* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
}

body p {
  margin: 15px;
}


/*----------------------------------[ THEMES ]-----------------------------------*/

body.vscode-light {
  color: black;
}

body.vscode-dark {
  /* color: var(--vscode-editor-foreground); */
  font-size: var(--vscode-editor-font-size);
  color: darkseagreen;
  background-color: rgb(31, 31, 37);
}

body.vscode-dark h1 {
  font-size: xx-large;
}

body.vscode-dark h2 {
  font-size: x-large;
}

body.vscode-dark h3 {
  font-size: larger;
}

body.vscode-dark h4 {
  font-size: large;
}

body.vscode-dark h5 {
  font-size: medium;
}

body.vscode-dark h6 {
  font-size: small;
}

body.vscode-high-contrast {
  color: red;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#body {
  margin-left: 265px;
  min-height: 640px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  color: #79fada;
  background-color: #4242b3;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}


/*----------------------------------[ BACKGROUND BLOCKS ]-----------------------------------*/

.codeblock {
  border: solid gray;
  background-color: #192725;
  border-width: .1em .1em .1em .4em;
  line-height: 150%;
  padding-top: 12pt;
}

.TitleBlock {
  height: 180px;
  width: 100%;
  left: 0px;
  background-color: #3E32A2;
  color: gold;
  text-align: center;
}

.OpcodeBack {
  height: 475px;
  width: 350px;
  background-color: #4242b3;
  border-radius: 5%;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.HomeButtonBack {
  width: 264px;
  background-color: #266e6e;
  position: absolute;
  top: 181px;
  left: 0px;
  bottom: 20px;
  text-align: center;
}

.AllButtonBack {
  width: 100%;
  background-color: #266e6e;
  position: absolute;
  top: 181px;
  left: 0px;
  bottom: 20px;
  text-align: center;
}


/*----------------------------------[ TABLES ]-----------------------------------*/

table.modes {
  border: 4px solid #3E32A2;
  border-collapse: separate;
  border-radius: 5px;
  border-left-width: 5px;
  border-top-width: 1px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1;
  border-spacing: 0px;
  color: tan;
  background-color: #192725;
}

table.modes th {
  background-color: #3E32A2;
  color: gold;
}

table.modes.flags {
  background-color: #192725;
  text-align: center;
}

table.modes th,
table.modes td {
  text-align: center;
  border: 0px solid #3E32A2;
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding: 10px;
  font-size: small;
}


/*----------------------------------[ BUTTONS ]-----------------------------------*/

.button {
  border: 3px solid #eeb63d;
  color: rgb(124, 188, 204);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 8px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.buttonMAIN {
  background-color: white;
  color: black;
  width: 200px;
}

.buttonMAIN:hover {
  background-color: #008CBA;
  color: white;
}

.buttonOPCODE {
  background-color: white;
  color: black;
  width: 75px;
}

.buttonOPCODE:hover {
  background-color: #008CBA;
  color: white;
}

.buttonNAVIGATION {
  background-color: white;
  color: black;
}

.buttonNAVIGATION:hover {
  background-color: #008CBA;
  color: white;
}
