* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
  background-color: burlywood;
}

#content-wrap {
  padding-bottom: 1.5rem;
  /* Footer height */
}

#header {
  height: 180px;
  width: 100%;
  left: 0px;
  background-color: #3E32A2;
  color: gold;
  text-align: center;
  float: left;
}

#header-image {
  float: left;
}

#sidebar {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 180px;
  left: 0px;
  bottom: 1.5rem;
  width: 264px;
  overflow: auto;
  background-color: #266e6e;
  text-align: center;
}

#home-body {
  display: flex;
  flex-grow: 1;
  position: absolute;
  top: 180px;
  bottom: 1.5rem;
  margin-left: 264px;
  overflow: auto;
  background-color: #e95757;
}

#opcode-body {
  display: flex;
  flex-grow: 1;
  position: absolute;
  top: 180px;
  bottom: 1.5rem;
  overflow: auto;
  background-color: #e95757;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  text-align: center;
  color: #79fada;
  background-color: #4242b3;
  font-size: large;
  /* Footer height */
}
